body {
    background-color:lightgreen;

}

#startButton button {
        display: block;
        background-color: orange;
        border-radius: 40px;
        border: 10px double #cccccc;
        color: #e01e1e;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        margin-left: auto;
        margin-right: auto;
        margin-top: 250px;
        
    
}



#rules{
    display: none;
    text-align: center;
    justify-content: center;
    margin-top: 300px;
    
}

.buttons button{
    
    display: flex;
    justify-content: center;
    
}

#timer {
    display: none;
    font-size: x-large;
    text-align: center;
    color: firebrick;
}

#questions {
    display: none;
    text-align: center;
    font-size: 50px;
}

#scoreboard {
    display: none;
    font-size: xx-large;
    margin-left: 500px;
    margin-top: 200px;
    font-family:fantasy ;
}

#initials-input-section {
    display: none;
    text-align: center;
    margin-top: 250px;
    font-size: x-large;
}

